django
djangorestframework
graphene-django
celery
django-mptt
requests
pillow
ipython
gevent
greenlet
flower
eventlet
redis
django-celery-results
django-celery-beat
django-precise-bbcode
django-resized
martor
coverage
django-coverage-plugin
pytest-cov
