{% extends 'base.html' %}

{% block title %}Programmes | {{ block.super }}{% endblock %}

{% block content %}
<div class="sub_header bg_1">
    <div id="intro_txt">
        <h1>Atena <strong>Graduate</strong> courses</h1>
        <p>
            Ex saepe accusata duo, vel ne summo option delenit.
        </p>
    </div>
</div><!--End sub_header -->

<div id="position">
    <div class="container">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Category</a></li>
            <li>Page active</li>
        </ul>
    </div>
</div><!-- Position -->

<div class="container_gray_bg">
    <div class="container margin_60">
        <div class="row">
            <div class="col-md-9">

                <div class="strip_all_courses_list wow fadeIn" data-wow-delay="0.1s">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="img_list">
                                <a href="academic_single_course.html"><img alt="" src="img/graduate_1.jpg">
                                    <div class="short_info">
                                        <h3>Engineering</h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="clearfix visible-xs-block">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="course_list_desc">
                                <h3><strong>Engineering</strong> graduate</h3>
                                <p>
                                    Zril causae ancillae sit ea. Dicam veritus mediocritatem sea ex, nec id agam eius.
                                    Te pri facete latine salutandi, scripta mediocrem et sed, cum ne mundi vulputate....
                                </p>
                                <ul class="add_info">
                                    <li>
                                        <div class="tooltip_styled tooltip-effect-4">
                                            <span class="tooltip-item"><i class="pe-7s-compass"></i></span>
                                            <div class="tooltip-content">
                                                Dedicated Study Plan
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tooltip_styled tooltip-effect-4">
                                            <span class="tooltip-item"><i class="pe-7s-hourglass"></i></span>
                                            <div class="tooltip-content">
                                                Admission Deadline 31/11/2015
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tooltip_styled tooltip-effect-4">
                                            <span class="tooltip-item"><i class="pe-7s-medal"></i></span>
                                            <div class="tooltip-content">
                                                Most Requested Course
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <div class="details_list_col">
                                <div>
                                    <a class="button_outline" href="academic_single_course.html">Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--End strip -->

                <div class="strip_all_courses_list wow fadeIn" data-wow-delay="0.1s">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="img_list">
                                <a href="academic_single_course.html"><img alt="" src="img/graduate_2.jpg">
                                    <div class="short_info">
                                        <h3>Biology</h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="clearfix visible-xs-block">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="course_list_desc">
                                <h3><strong>Biology</strong> graduate</h3>
                                <p>
                                    Zril causae ancillae sit ea. Dicam veritus mediocritatem sea ex, nec id agam eius.
                                    Te pri facete latine salutandi, scripta mediocrem et sed, cum ne mundi vulputate....
                                </p>
                                <ul class="add_info">
                                    <li>
                                        <div class="tooltip_styled tooltip-effect-4">
                                            <span class="tooltip-item"><i class="pe-7s-compass"></i></span>
                                            <div class="tooltip-content">
                                                Dedicated Study Plan
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tooltip_styled tooltip-effect-4">
                                            <span class="tooltip-item"><i class="pe-7s-hourglass"></i></span>
                                            <div class="tooltip-content">
                                                Admission Deadline 31/11/2015
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tooltip_styled tooltip-effect-4">
                                            <span class="tooltip-item"><i class="pe-7s-medal"></i></span>
                                            <div class="tooltip-content">
                                                Most Requested Course
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <div class="details_list_col">
                                <div>
                                    <a class="button_outline" href="academic_single_course.html">Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--End strip -->

                <div class="strip_all_courses_list wow fadeIn" data-wow-delay="0.1s">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="img_list">
                                <a href="academic_single_course.html"><img alt="" src="img/graduate_3.jpg">
                                    <div class="short_info">
                                        <h3>Psicology</h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="clearfix visible-xs-block">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="course_list_desc">
                                <h3><strong>Psicology</strong> graduate</h3>
                                <p>
                                    Zril causae ancillae sit ea. Dicam veritus mediocritatem sea ex, nec id agam eius.
                                    Te pri facete latine salutandi, scripta mediocrem et sed, cum ne mundi vulputate....
                                </p>
                                <ul class="add_info">
                                    <li>
                                        <div class="tooltip_styled tooltip-effect-4">
                                            <span class="tooltip-item"><i class="pe-7s-compass"></i></span>
                                            <div class="tooltip-content">
                                                Dedicated Study Plan
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tooltip_styled tooltip-effect-4">
                                            <span class="tooltip-item"><i class="pe-7s-hourglass"></i></span>
                                            <div class="tooltip-content">
                                                Admission Deadline 31/11/2015
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tooltip_styled tooltip-effect-4">
                                            <span class="tooltip-item"><i class="pe-7s-medal"></i></span>
                                            <div class="tooltip-content">
                                                Most Requested Course
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <div class="details_list_col">
                                <div>
                                    <a class="button_outline" href="academic_single_course.html">Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--End strip -->

                <div class="strip_all_courses_list wow fadeIn" data-wow-delay="0.1s">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="img_list">
                                <a href="academic_single_course.html"><img alt="" src="img/graduate_4.jpg">
                                    <div class="short_info">
                                        <h3>Economy</h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="clearfix visible-xs-block">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="course_list_desc">
                                <h3><strong>Arts</strong> graduate</h3>
                                <p>
                                    Zril causae ancillae sit ea. Dicam veritus mediocritatem sea ex, nec id agam eius.
                                    Te pri facete latine salutandi, scripta mediocrem et sed, cum ne mundi vulputate....
                                </p>
                                <ul class="add_info">
                                    <li>
                                        <div class="tooltip_styled tooltip-effect-4">
                                            <span class="tooltip-item"><i class="pe-7s-compass"></i></span>
                                            <div class="tooltip-content">
                                                Dedicated Study Plan
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tooltip_styled tooltip-effect-4">
                                            <span class="tooltip-item"><i class="pe-7s-hourglass"></i></span>
                                            <div class="tooltip-content">
                                                Admission Deadline 31/11/2015
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tooltip_styled tooltip-effect-4">
                                            <span class="tooltip-item"><i class="pe-7s-medal"></i></span>
                                            <div class="tooltip-content">
                                                Most Requested Course
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <div class="details_list_col">
                                <div>
                                    <a class="button_outline" href="academic_single_course.html">Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--End strip -->

                <div class="strip_all_courses_list wow fadeIn" data-wow-delay="0.1s">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="img_list">
                                <a href="academic_single_course.html"><img alt="" src="img/graduate_5.jpg">
                                    <div class="short_info">
                                        <h3>Architecture</h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="clearfix visible-xs-block">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="course_list_desc">
                                <h3><strong>Architecture</strong> graduate</h3>
                                <p>
                                    Zril causae ancillae sit ea. Dicam veritus mediocritatem sea ex, nec id agam eius.
                                    Te pri facete latine salutandi, scripta mediocrem et sed, cum ne mundi vulputate....
                                </p>
                                <ul class="add_info">
                                    <li>
                                        <div class="tooltip_styled tooltip-effect-4">
                                            <span class="tooltip-item"><i class="pe-7s-compass"></i></span>
                                            <div class="tooltip-content">
                                                Dedicated Study Plan
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tooltip_styled tooltip-effect-4">
                                            <span class="tooltip-item"><i class="pe-7s-hourglass"></i></span>
                                            <div class="tooltip-content">
                                                Admission Deadline 31/11/2015
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tooltip_styled tooltip-effect-4">
                                            <span class="tooltip-item"><i class="pe-7s-medal"></i></span>
                                            <div class="tooltip-content">
                                                Most Requested Course
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <div class="details_list_col">
                                <div>
                                    <a class="button_outline" href="academic_single_course.html">Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--End strip -->

            </div><!--End col-md-9 -->

            <aside class="col-md-3">
                <div class="banner">
                    <i class=" iconcustom-school"></i>
                    <h3>Take a campus tour</h3>
                    <p>
                        Zril causae ancillae sit ea. Dicam veritus mediocritatem sea ex, nec id agam eius.
                    </p>
                    <a class="banner_bt" href="tour.html">Start tour</a>
                </div>
                <h4><strong>How to apply</strong></h4>
                <p>
                    Zril causae ancillae sit ea. Dicam veritus mediocritatem sea ex, nec id agam eius. Te pri facete
                    latine salutandi, scripta mediocrem et sed, cum.
                </p>
                <hr class="styled">
                <div class="box_side">
                    <h5>By Phone</h5>
                    <i class="icon-phone"></i>
                    <p>
                        <a href="tel://033284322">+ 0043 848293 43</a><br>
                        <small>Monday to Friday 9.00am - 6.00pm</small>
                    </p>
                </div>
                <hr class="styled">
                <div class="box_side">
                    <h5>By Postal Mail</h5>
                    <i class="icon_pencil-edit"></i>
                    <p>
                        <a href="#0"><strong>Download the application form</strong></a>,<br>
                        and send it to this address:<br>
                        <br>
                        <em>4 West 31st Street New York<br>
                            10001 United States</em>
                    </p>
                </div>
                <hr class="styled">
                <div class="box_side">
                    <h5>Apply Online</h5>
                    <i class="icon_desktop"></i>
                    <p>
                        Eam admodum pertinacia an, essent nostro audiam ad qui, pro ex habeo aeterno maluisset. Aeque
                        apeirian duo et, ad ludus denique tincidunt usu.
                    </p>
                    <p>
                        <a class="button small" href="apply_online.html">Apply online</a>
                    </p>
                </div>
            </aside>

        </div><!--End row -->
    </div><!--End container -->
</div><!--End container_gray_bg -->
{% endblock %}
