{% extends 'base.html' %}

{% load static %}
{% load martortags %}
{% load degree_tags %}
{% load department_tags %}
{% load math_tags %}

{% block title %}Department of {{ department.name }} | {{ block.super }}{% endblock %}

{% block content %}

    <div class="sub_header bg_1">
        <div id="intro_txt">
            <h1>Department of <strong>{{ department.name }}</strong></h1>
            <p>Faculty of {{ department.faculty.name }}</p>
        </div>
    </div> <!--End sub_header -->

    <div class="container_gray_bg">
        <div class="container margin_60">
            <div class="row">

                <div class="col-md-9">
                    <div class="box_style_1">
                        <div class="indent_title_in">
                            <i class="pe-7s-news-paper"></i>
                            <h3>Preview</h3>
                            <p>A brief view of the department</p>
                        </div>
                        <div class="wrapper_indent">
                            <div class="row">
                                <div class="col-md-6">
                                    <p>
                                        <img src="{% static 'img/course_1_1_thumb.jpg' %}"
                                             alt="Faculty of {{ department.name }}" class="img-responsive">
                                    </p>
                                </div>
                            </div>
                        </div>
                        <hr class="styled_2">
                        <div class="indent_title_in">
                            <i class="pe-7s-news-paper"></i>
                            <h3>Summary</h3>
                            <p>What we are</p>
                        </div>
                        <div class="wrapper_indent">
                            <p>{{ department.long_description | safe_markdown }}</p>
                        </div>

                    <hr class="styled_2">
                    <div class="indent_title_in">
                        <i class="pe-7s-display1"></i>
                        <h3>Degree Awarded</h3>
                        <p>List of programmes that are Awarded by Department</p>
                    </div>
                    <div class="wrapper_indent">
                        <p>A comprehensive breakdown of programmes that is run under the department</p>
                        <div class="row">
                        {% if department.programmes.count > 0 %}
                            {% for programme in department.programmes.all %}
                            <div class="col-md-{{ department.programmes.count | remainder:12 }}">
                                <ul class="list_style_1">
                                {{ programme.name }}
                                {% degrees_in_department_by_programme department programme as degrees %}
                                    {% for degree in degrees %}
                                    <li><a href="{{ degree.get_absolute_url }}">{{ degree.name }}</a> ({{ degree.title }})</li>
                                        {% empty %}
                                        <p>No Degree yet</p>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endfor %}
                        {% endif %}
                        </div>
                    </div>

                        <hr class="styled_2">
                        <div class="indent_title_in">
                            <i class="pe-7s-user"></i>
                            <h3>Departmental Staffs</h3>
                            <p>Both academic and non-academic staffs of the department.</p>
                        </div>
                        <div class="wrapper_indent">
                            <p>This is a comprehensive list of staffs in the faculty of {{ faculty.name }} that have
                                made it a success</p>
                            <div class="row">
                                {% for staff in faculty.staffs.all %}
                                    <div class="col-md-6 col-sm-6">
                                        <ul class="list_teachers">
                                            <li>
                                                <a href="{{ staff.get_absolute_url }}">
                                                    <figure>
                                                        <img src="{{ staff.dp }}" height="68px" width="68px"
                                                             alt="{{ staff.display_name }}" class="img-rounded">
                                                    </figure>
                                                    <h5>{{ staff.username }}</h5>
                                                    <p>{{ staff.position }}</p><i class="pe-7s-angle-right-circle"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                {% empty %}
                                    <p>There are no staffs yet</p>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>
                <aside class="col-md-3">
                    <div class="banner">
                        <img src="{{ department.hod.dp }}" height="128px" width="128px"
                             alt="Head of department of {{ department.name }}"/>
                        <h3>Head of Department</h3>
                        <p>Kindly take a slight preview into the Dept of {{ department.name }}.</p>
                        <a href="tour.html" class="banner_bt">Start tour</a>
                    </div>
                    <hr>
                    <div class="widget">
                        <h4>Other Departments</h4>
                        <ul id="cat_nav">
                        {% other_departments_in_faculty department.faculty department as other_departments %}
                            {% for other_department in other_departments %}
                                <li><a href="{{ other_department.get_absolute_url }}">{{ other_department.name }}</a></li>
                            {% empty %}
                                <p>Faculty of {{ department.faculty.name }} does not have other departments yet</p>
                            {% endfor %}
                        </ul>
                    </div><!-- End widget -->
                    <hr class="styled">
                    <div class="box_side"><h5>By Email</h5> <i class="icon-phone"></i>
                        <p>
                            <a href="mailto://{{ department.email }}">{{ department.email }}</a>
                        </p>
                    </div>
                    <hr class="styled">
                    <div class="box_side"><h5>By Phone</h5> <i class="icon-phone"></i>
                        <p>
                            <a href="tel://{{ department.phone }}">+ {{ department.phone }}</a>
                        </p>
                    </div>
                </aside>
            </div><!--End row -->
        </div><!--End container -->
    </div><!--End container_gray_bg -->
{% endblock %}

